[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "==2.0.2"
redis = "==3.5.3"
sheetfu = "==1.5.4"
flask-caching = "==1.10.1"

[requires]
python_version = "3.10"
